<div class="main_div">
  <div class="table_class" *ngIf="dataSource">
    <!-- <table class="table table-striped table-fixed">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Flag</th>
                    <th scope="col">Name</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Region</th>
                    <th scope="col">Population</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of countryList;let i = index">
                    <td>{{i+1}}</td>
                    <td><img [src]="imgFun(list)" alt="flag"></td>
                    <td>{{list['name']['common']}}</td>
                    <td>{{list['capital'][0]}}</td>
                    <td>{{list['region']}}</td>
                    <td>{{list['population']}}</td>
                    <td>{{currencyArr(list)}}</td>
                    <td class="button_cls">
                        <button class="btn btn-success" [routerLink]="['/detail/',list['flag']]"> Detail</button>
                        <button class="btn btn-primary"  [disabled]="(countryService.role | async) !== 'admin'" > Edit</button>
                        <button class="btn btn-danger"  [disabled]="(countryService.role | async) !== 'admin'" > Delete</button>

                    </td>
                </tr>
            </tbody>
        </table> -->

    <table class="table" mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef> Flag </th>
        <td mat-cell *matCellDef="let element"> <img [src]="getFlag(element.flag)" alt="flag"></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/detail/', getCountryCodeFromFlagEmoji(element.flag)]"
          class="name">
          {{element.name.official}} </td>
      </ng-container>

      <ng-container matColumnDef="capital">
        <th mat-header-cell *matHeaderCellDef> Capital </th>
        <td mat-cell *matCellDef="let element"> {{element.capital[0]}} </td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef> Region </th>
        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef> Population </th>
        <td mat-cell *matCellDef="let element"> {{element.population}} </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Currency </th>
        <td mat-cell *matCellDef="let element"> {{getCurrencyString(element.currencies)}} </td>
      </ng-container>

      <ng-container matColumnDef="action" *ngIf="countryService.role == 'admin'">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td class="button_cls" mat-cell *matCellDef="let element">
          <button class="btn btn-primary">
            Edit</button>
          <button class="btn btn-danger">
            Delete</button>
        </td>
      </ng-container>

      <!-- Name Column -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20,50]" (page)="changePage($event)" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>